.menu-bar {
    background-color: rgb(247, 247, 247);
}

.menu-bar ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-bar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}
/* Parent must be relative */
.menu-bar ul li {
  position: relative;
}

/* SUB MENU (hidden state) */
.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background-color: white;
  width: 300px;
  height: fit-content;
  text-align: start;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);

  transition:
    opacity 0.3s ease,
    transform 0.4s ease,
    visibility 0.3s;
}
/* search box */
.box-search{
    background-color: rgb(14, 13, 13,0.1);
    
    width: 100%;
    height: 300px;
    z-index: 989;
    display: block;

}
/* SHOW ON HOVER */
.menu-bar ul li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: -12;
}

/* SUB MENU ITEMS */
.sub-menu ul li {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
.sub-menu ul li a:hover {
  display: block;
  background-color: rgb(230, 230, 230);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.menu-bar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 12px 14px;
    color: rgb(105, 104, 104);
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}
.menu-left ul li{
   text-decoration: none;
   background-color: antiquewhite;
}


/* ICON SIZE */
.menu-icon {
    width: 15px;
    height: 15px;
    object-fit: contain;
   
    
}

.phone-menu{
    background-color: rgb(247, 247, 247);
    width: 100%;
    padding: 10px ;
    display:none;
}
.phone-menu .icon-box{
    width: 50%;
}
.phone-menu .icon-box1{
    width: 50%;
    text-align:right;
    
}
.phone-menu .icon-box1 a{
    
    padding: 0px 20px;
    
}
.menu-icon-search {
    width: 18px;
    height: 18px;
    object-fit: contain;
}
.menu-icon-bag {
    width: 18px;
    height: 18px;
    object-fit: contain;
    
}
/* TEXT */
.phone-menu ul li{
    display: inline-block;
}
.menu-left {
  position: fixed;
  top: -800px;
  width: 100vh;
  height: 90vh;
  background: #e7e7e7;

  transition: top 0.4s ease;
  z-index: -9;
  display: none;
}

/* WHEN OPEN */
.menu-left.open {
     top: 55px;
     height: 100vh;
}

/* MENU BUTTON */
.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.btn-left{
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px 14px;
  

}
.btn-left {
  display: flex;
  justify-content: flex-end;
}

.input-box{
text-decoration: none;
width: 70%;
cursor: pointer;
border: none;
padding: 10px 22px;
background: none;

}
label{
    font-size: 30px;
    padding: 0;
    margin: 0;
}
input:focus,textarea:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
*:focus {
  outline: none;
}


/* =====================
   RESPONSIVE
===================== */

/* Small devices */
@media (max-width: 575px) {
    .menu-bar {
        display: none;
    }
    .menu-left {
        display: block;
    }
     .phone-menu{
    width: 100%;
    display:flex;
   
} .box-search{
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .menu-bar,.box-search {
        display: none;
    }
    .phone-menu{
    width: 100%;
    display:flex;
} .menu-left {
        display: block;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .menu-bar ul li a {
        padding: 10px 8px;
    }

      
}/* Large devices */
@media (min-width: 992px) {
    .menu-bar ul li a {
        padding: 12px 14px;
    }
    
}

/* X-Large */
@media (min-width: 1200px) {
    .menu-bar ul li a {
        padding: 14px 16px;
    }
    
}
