.bag-box{
    /* background-color:white; */
  background-color: white;
  height: 50vh;
  width: 100%;
  color: #06c;
  z-index:550;
  overflow-y: auto;
  overflow-x: hidden; 
  position: fixed;
  margin-top: 0;
  /* animation */
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out; /* ← slow */
  
}
.bag-box.active{
  transform: translateY(0);
  display: block;
  position: fixed;
  transition: transform 0.4s ease-in-out; /* ← slow */
  background-color:white;
  z-index: 887;
  visibility: visible;
  /* background-color: #06c; */
}




/* .search-box.active + .mega-menu,
.search-box.active + .mega-menu.open {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  padding: 0;
  pointer-events: none;
} */

