.home-page{
    /* background-color:white; */
    width: 100% ;
    height: 60vh;
    margin-top:85px;
    margin: 0 top;
    padding: 0;
    
}
*{
    margin: 0 ;
    padding: 0 ;    
    box-sizing: border-box;
}
button{
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}
.slide-container {
    width: 100%;
    height: 60vh;
    display: flex;
   margin: 0;
   padding: 0;
      background-color: white;
}
 .home-page .ifo-left{
    
    width: 23%;
    height:60vh;
    display: block;
   
}
.home-page .home-slide{
    /* background-color: rgb(167, 54, 13); */
    width: 1130px;
    height: 60vh;
    position: relative;
    margin: 0 ;
    padding: 0 ;

}
 .home-slide .slider-image{
    width: 100%;
    height: 60vh;
    object-fit: cover;
 
}
    .home-slide .slider-image img{
        width: 100%;
        height: 60vh;
        object-fit: cover;
        margin: 0 ;
        padding: 0 ;
    }
    .home-slide .prev-btn, .home-slide .next-btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(97, 92, 92, 0.2);
        color: white;
        border: none;
        padding: 3px 15px;
        width: fit-content;
        cursor: pointer;
        font-size: 18px;
        border-radius: 50%;
    }
    .home-slide .prev-btn{
        left: 20px;
    }
    .home-slide .next-btn{
        right: 20px;
    }