.ifo-left { 
    background-color: #f8f8f8; 
    padding: 10px 30px ; 
    ;
}
.ifo-left h1 { 
    
    font-size: 54px; 
    margin-bottom: 20px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.category-item .link{ 

    font-size: 18px;
    margin-bottom: 15px; 
    text-decoration: none;
    color: black;
    padding: 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.shop-now-btn:hover{
    background-color: rgb(89, 89, 255);
    color: white;
   transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.15s ease;
}.shop-now-btn{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    /* background-color: #693732;  */
    color: rgb(89, 89, 255); 
    width: 50%;
    padding: 10px 0px; 
    font-size: 20px;
    border: none; 
    cursor: pointer;
    border-radius: 980px;
    border:1px solid rgb(50, 50, 221); 
    margin-top: 12px;

}