/* Reset and Base Styles */
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(240, 232, 232);
}
body.active{
  background-color: rgb(37, 12, 12);
}
/* Navbar Container */
.Navbar-bg {
  background-color: rgb(241, 237, 237);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  top: 0px;
  left: 0;
  width: 1912px;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Navbar Styles */
.navbar {
  padding: 0 20px;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  margin: 0;
  padding: 0;
}

.navbar-item {
  position: relative;
  height: 100%;
  display: flex;
  color: black;

  align-items: center;
}

.navbar-link {
  text-decoration: none;
   color: black;

  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  padding: 0 18px;
  height: 44px;
  display: flex;
  align-items: center;
}
.mega-menu-link{
  color: black;
}

.navbar-link:hover {
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  
}

.navbar-link.active {
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);


}

.apple-logo {
  width: 16px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.apple-logo:hover {
  opacity: 1;
}

.apple-logo img {
  width: 16px;
  height: 16px;
  filter: invert(1);
}

/* Hover Indicator */
.hover-indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #f5f5f7;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 1px;
}

/* Icon Buttons */
.navbar-icon-btn {
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 44px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.navbar-icon-btn:hover {
  opacity: 1;
}

.navbar-icon {
  color: black;
}

.new-arrivals-bar{
  text-align: center;
  position: fixed;
  background-color: rgb(184, 41, 41);
  height:30px;
  align-items:center;
  justify-content:center;
  font-size:14px;
  font-weight:500;
  margin-top: 50px;
  color: black;
  z-index: 600;

}
.new-arrivals-bar span{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}
.Navbar-bg.active {
  background-color:white;

  
}
.Navbar-bg.bag-open{
  background-color:white;
  
}